# Database configuration
SPRING_DATASOURCE_URL=your_database_url
SPRING_DATASOURCE_USERNAME=your_database_username
SPRING_DATASOURCE_PASSWORD=your_database_password
# Billing service configuration
BILLING_SERVICE_ADDRESS=your_billing_service_address
BILLING_SERVICE_GRPC_PORT=your_billing_service_grpc_port